.git
.gitignore
.gitlab-ci.yml

node_modules
build
coverage
dist
.cache

.agents
.claude
.vscode

.env
.env.development
.env.local
.env.*.local

Dockerfile
docker-compose.yml
README.md
docs
note.txt

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
