# API nghiệp vụ chính (e.g., API ERP / Fixed Asset)
REACT_APP_API_URL=http://localhost:5000/api/v1

# API xác thực (đăng nhập, phân quyền, quản lý tài khoản)
REACT_APP_AUTH_API_URL=https://auth.idps.cloud/

# URL kết nối Socket.io (nếu có realtime)
REACT_APP_Socket_URL=http://localhost:5000
